services:
  medical-agent:
    build: .
    container_name: medical_agent_service
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7-alpine
    container_name: redis_sessions
    restart: always
    ports:
      - "6379:6379"
